<ion-view title="Login Especialista" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="loginEspecialista-form2" class="list">
      <div class="spacer" style="width: 300px; height: 142px;"></div>
      <ion-list id="loginEspecialista-list2">
        <label class="item item-input" id="loginEspecialista-input3">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="loginEspecialista-input4">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="pacientes" id="loginEspecialista-button14" class="button button-stable  button-block">Ingresar</a>
    </form>
  </ion-content>
</ion-view>