<ion-view title="Login Paciente" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="loginPaciente-form1" class="list">
      <div class="spacer" style="width: 300px; height: 142px;"></div>
      <ion-list id="loginPaciente-list1">
        <label class="item item-input" id="loginPaciente-input1">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="loginPaciente-input2">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="men" id="loginPaciente-button12" class="button button-stable  button-block">Ingresar</a>
    </form>
  </ion-content>
</ion-view>