<ion-view title="Login Especialista" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="loginEspecialista-form2" class="list">
      <div class="spacer" style="width: 300px; height: 142px;"></div>
      <ion-list id="loginEspecialista-list2">
        <label class="item item-input" id="loginEspecialista-input3">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="" ng-model="data.username">
        </label>
        <label class="item item-input" id="loginEspecialista-input4">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="" ng-model="data.password">
        </label>
          <span ng-show="errorLogin">Contraseña</span>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ng-click="login()" id="loginEspecialista-button14" class="button button-stable  button-block">Ingresar</a>
    </form>
  </ion-content>
</ion-view>