<ion-view title="Mensajes" id="page7">
  <ion-content padding="false" scroll="false" class="has-header">
    <ion-scroll id="mensajes-container3" class="top-container">
      <ion-list id="mensajes-list8">
        <ion-item class="item-avatar" id="mensajes-list-item6">
          <img src="img/John-C.-McGinley.jpg">
          <h2>Dr. Carlos Wea</h2>
          <p style="white-space:normal;">Hola, como venís con el tratamiento?</p>
        </ion-item>
        <ion-item class="item-avatar" id="mensajes-list-item7">
          <img src="img/John-C.-McGinley.jpg">
          <h2>Dr. Carlos Wea</h2>
          <p style="white-space:normal;">Venís mal. Ponete las pilas.</p>
        </ion-item>
      </ion-list>
    </ion-scroll>
    <form id="mensajes-form9" class="list bottom-form">
      <label class="item item-input" id="mensajes-input7">
        <input type="text" placeholder="">
      </label>
      <button id="mensajes-button26" class="button button-positive  button-block">Enviar</button>
    </form>
  </ion-content>
</ion-view>